In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [15]:
netflix_originals = pd.read_csv("CSV Files/NetflixOriginals.csv", encoding = "cp437")
#netflix = pd.read_csv("IMDB-Movie-Data.csv", encoding = "cp437") 
netflix = pd.read_csv("CSV Files/IMDB-Movie-Data.csv")
#some errors in the data where the director etc. was offset by 1
#these three movies might have repeated/incorrect Unamed:12 values or metascore values
labels = netflix.iloc[0].keys()
for i in [356,878,970]:
  copy = netflix.iloc[i].copy()
  description = copy["Description"] + copy["Director"]
  copy["Description"] = description
  for j in range(4,len(labels)-1):
    copy[labels[j]] = copy[labels[j+1]]
  netflix.iloc[i] = copy
#parse the titles to see if there are any erronous names by the encoding language
print(netflix[netflix['Title'].str.count(r'(?!(^[a-zA-Z0-9]{4,10}$))')==1]) 
print(netflix_originals[netflix_originals['Title'].str.count(r'(?!(^[a-zA-Z0-9]{4,10}$))')==1]) #both of these should be empty
netflix.to_csv("CSV Files/netflix.csv",index = False)
netflix_originals.to_csv("CSV Files/netflix_originals.csv",index = False)
netflix.sort_values("Rating",ascending = False)

Empty DataFrame
Columns: [Rank, Title, Genre, Description, Director, Actors, Year, Runtime (Minutes), Rating, Votes, Revenue (Millions), Metascore, Unnamed: 12]
Index: []
Empty DataFrame
Columns: [Title, Genre, Premiere, Runtime, IMDB Score, Language]
Index: []

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Unnamed: 12
54,55,The Dark Knight,"Action,Crime,Drama",When the menace known as the Joker wreaks havo...,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart,Mi...",2008,152,9.0,1791916.0,533.32,82.0,NaN
80,81,Inception,"Action,Adventure,Sci-Fi","A thief, who steals corporate secrets through ...",Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellen...",2010,148,8.8,1583625.0,292.57,74.0,NaN
117,118,Dangal,"Action,Biography,Drama",Former wrestler Mahavir Singh Phogat and his t...,Nitesh Tiwari,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",2016,161,8.8,48969.0,11.15,NaN,NaN
36,37,Interstellar,"Adventure,Drama,Sci-Fi",A team of explorers travel through a wormhole ...,Christopher Nolan,"Matthew McConaughey, Anne Hathaway, Jessica Ch...",2014,169,8.6,1047747.0,187.99,74.0,NaN
96,97,Kimi no na wa,"Animation,Drama,Fantasy",Two strangers find themselves linked in a biza...,Makoto Shinkai,"Ryûnosuke Kamiki, Mone Kamishiraishi, Ryô Nari...",2016,106,8.6,34110.0,4.68,79.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,969,Wrecker,"Action,Horror,Thriller",Best friends Emily and Lesley go on a road tri...,Micheal Bafaro,"Anna Hutchison, Andrea Whitburn, Jennifer Koen...",2015,83,3.5,1210.0,NaN,37.0,NaN
647,648,Tall Men,"Fantasy,Horror,Thriller",A challenged man is stalked by tall phantoms i...,Jonathan Holbrook,"Dan Crisafulli, Kay Whitney, Richard Garcia, P...",2016,133,3.2,173.0,NaN,57.0,NaN
871,872,Dragonball Evolution,"Action,Adventure,Fantasy",The young warrior Son Goku sets out on a quest...,James Wong,"Justin Chatwin, James Marsters, Yun-Fat Chow, ...",2009,85,2.7,59512.0,9.35,45.0,NaN
42,43,Don't Fuck in the Woods,Horror,A group of friends are going on a camping trip...,Shawn Burkett,"Brittany Blanton, Ayse Howard, Roman Jossart,N...",2016,73,2.7,496.0,NaN,NaN,NaN
829,830,Disaster Movie,Comedy,"Over the course of one evening, an unsuspectin...",Jason Friedberg,"Carmen Electra, Vanessa Lachey,Nicole Parker, ...",2008,87,1.9,77207.0,14.17,15.0,NaN